body {
  height: 100%;
  font-family: Inter, sans-serif;
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0.1%, rgb(252, 251, 121) 90%);
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.2);
  color: #ffae42;
  font-weight: bold;
  text-decoration-color: #ffae42;
  padding: 20px;
}

h4 {
  color: #edc01f;
}

h3 {
  color: #ff9500;
}

h2,
h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 225, 0);
  color: #edc01f;
}

nav a {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ff4242;
  color: #ff9500;
  font-size: 30px;
}

.my-image {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #edc01f;
}

.my-image img {
  width: 300px;
  height: 250px;
  display: block;
}

.my-image:hover {
  transform: rotateY(360deg);
  transition: transform 1s ease-in-out;
}

.bg-image {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.row {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
}

.custom-padding {
  padding: 70px; 
}

.image1,
.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#technical {
  /* Add any additional styling for the image if needed */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
}

.soft-skills-section,
.technical-skills-section {
  color: #000000; /* Set the text color */
  font-size: 22px; /* Set the font size */
  padding: 20px; /* Add padding for better visual appearance */
}

.soft-skills-description,
.tech-skills-description  {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.1);
  font-size: 20px; /* Set the desired font size */
  padding: 20px; /* Add padding for better visual appearance */
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


footer {
  font-family: 'Outfit';
  background: #ff8356;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #ffe981;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #ffe981;  
  border-radius: 10px;
  margin-bottom: 20px;
}


